@import './../../../../../assets/variables.scss';
:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex-basis: 100%;
    .hangman-keyboard{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: 3rem;
        .key {
            display: flex;
            flex-wrap: nowrap;
            margin:0.5rem;
            width: 3rem;
            height: 3rem;
            padding: 0.5rem;
            justify-content: center;
            align-items: center;
            border: 1px ;
            border-radius: 50%;
            color: $textDark;
            background-color: $secondaryContrastColor;
            cursor: pointer;
            &:hover {            
                border: blue;
                background-color: none;
            }
        }

  }
}