<div class="progress-indicator">
    <div class="scaffold" *ngIf="chances < 5">
        <div class="vertical-main"></div>
        <div class="horizontal"></div>
        <div class="vertical-drop"></div>
        <div class="noose"></div>
    </div>
    <div class="head" *ngIf="chances < 4"></div>
    <div class="body" *ngIf="chances < 3"></div>
    <div class="legs" *ngIf="chances < 2"></div>
    <div class="arms" *ngIf="chances < 1"></div>
</div>