@import './../../../../../assets/variables.scss';
.progress-indicator {
    display: flex;
    position: absolute;
    top: 3rem;
    right: 6rem;
    .scaffold {
        margin: 0px;
        padding: 0px;
        .vertical-main {
            height: 15rem;
            border-left: $primaryColor 1rem solid;
            position: absolute;
            top: 1rem;
            right: 2rem;
        }
        .horizontal {
            width: 6rem;
            border-top: $primaryColor 1rem solid;
            position: absolute;
            top: 1rem;
            right: 2rem;
        }
        .vertical-drop {
            height: 4rem;
            border-left: $primaryColor 0.1rem solid;
            position: absolute;
            top: 1rem;
            right: 7.5rem;
        }
        .noose {
            height: 2rem;
            width: 1rem;
            border: $primaryColor 0.1rem solid;
            border-bottom-right-radius: 90%;
            border-bottom-left-radius: 90%;
            border-top-right-radius: 100%;
            border-top-left-radius: 100%;
            position: absolute;
            top: 5rem;
            right: 7rem;
        }
    }
    .head {
        height: 1rem;
        width: 1rem;
        border: $primaryColor 0.25rem solid;
        border-radius:50%;
        background-color: $primaryColor;
        position: absolute;
        top: 5.9rem;
        right: 7rem;
    }
    .body {
        height: 3rem;
        border-left: $primaryColor 0.25rem solid;
        position: absolute;
        top: 7rem;
        right: 7.3rem;
    }
    .legs {
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: 10.3rem;
        right: 6.4rem;
        border: solid $primaryColor;
        border-width: 0 0.2rem 0.2rem 0;
        padding: 3px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .arms {
        height: 1rem;
        width: 1.5rem;
        position: absolute;
        top: 8rem;
        right: 6.3rem;
        border: solid $primaryColor;
        border-width: 0 0.2rem 0.2rem 0;
        padding: 3px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}