@import './../../../../../assets/variables.scss';
.game-display{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 70%;
    min-width: 100%;
    .top-section {
        display: flex;
        flex-flow: row nowrap;
        .header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            color: $textColor;
            .title {
                margin-left: 3rem;
                display: flex;
                flex-basis: 70%;
                font-size: 8rem;
            }
        }
    }
    .bottom-section {
        .word{
            padding: 3rem;
            padding-top: 0px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            * {
                flex-direction: row;
                justify-content: space-evenly;
                .char{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-content: center;
                    border-radius: 10px;
                    background-color: $primaryContrastColor;
                    width: 5rem;
                    height: 5rem;
                    padding: 3rem;
                    border: 5px;
                    margin: 1rem;
                    font-size: 3rem;
                }
            }
        }
    }
}
