<div class="game-display" *ngIf="loaded">
    <section class="top-section">
        <div class="header">
            <h1 class="title">{{title}}</h1>
        </div>
    </section>
    <section class="bottom-section">
        <div class="word" >
            <div *ngFor="let char of word" >
                <div class="char">{{char}}</div>
            </div>
        </div>
    </section>
</div>