<div #currentLayoutModal class="modal">
    <div class="modal-content">
        <section class="panel-top">
            <div class="panel-left">
                <h1 class="panel-title win" *ngIf="!gameWon">You Loose</h1>
                <h1 class="panel-title loose" *ngIf="gameWon">You Win</h1>
                <h3 class="panel-content win" *ngIf="!gameWon">Better luck next time</h3>
                <h3 class="panel-title loose" *ngIf="gameWon">Your score is: {{score}}</h3>
            </div>
            <div class="panel-right">                
                <div class="title">Wall of Infamy</div>
                <div class="highscores">
                    <div *ngFor="let score of highscores">{{score.player}}: {{score.score}} Points</div>
                </div>
            </div>
        </section>
        <section class="panel-bottom">
            <div *ngIf="isHighScore" class="highscore-send-highscore">
                <input #highscoreInput class="highscore-input" type="text" placeholder="Your name here"/>
                <button class="highscore-button" (click)="onSubmitHighscore($event)">Send</button>
            </div>
            <button class="replay" type="button" (click)="onReplay()">Play Again</button>
        </section>
    </div>
</div>