@import './../../../../../assets/variables.scss';
.modal {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: none;
    pointer-events: none;
    background-color: $glassPanelBackground; 
    .modal-content {
        display: flex;
        flex-direction: column;
        background-color: $modalBackgroundColor;
        color: $textLight;
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        border-radius: 1rem;
        .panel-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1.5rem;
            .panel-left {
                h1 {
                    margin: 0px;
                    font-size: 6rem;
                }
            }
            .panel-right {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-between;
                margin: 1rem;
                .title {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                }
                .highscores {
                    list-style-type:none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    flex-basis: 30%;
                    div {
                        display: flex;
                        flex-direction: column;
                        div { 
                            // margin: 1rem
                        }
                    }
                }
            }
        }
        .panel-bottom {                
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: space-between;
            font-family: $scaryFont;
            border: none;
            border-radius: 1rem;
            font-size: 0.8rem;
            box-shadow: black;
            margin: 0.5rem;
            cursor: auto;
            pointer-events: auto;
            .replay{
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-basis: 20%;
                flex-grow: 1;
                background-color: $textLight;
                font-family: $scaryFont;
                font-size: 3rem;
                border: none;
                border-radius: 1rem;
                box-shadow: black;
            }
            .highscore-send-highscore {
                display: flex;
                flex-basis: 60%;
                flex-grow: 0;
                margin-right: 3rem;
                .highscore-input {
                    display: flex;
                    justify-items: center;
                    border: none;
                    border-bottom-left-radius: 1rem;
                    border-top-left-radius: 1rem;
                    flex-basis: 90%;
                    min-width: 0px;
                    font-family: $scaryFont;
                    font-size: 1.8rem;
                    padding: 1.5rem;
                }
                .highscore-button {
                    cursor: pointer;
                    display: flex;
                    justify-items: center;
                    flex-basis: 10%;
                    justify-items: center;
                    align-items: center;
                    border: none;
                    border-bottom-right-radius: 1rem;
                    border-top-right-radius: 1rem;
                    font-family: $scaryFont;
                    font-size: 1.3rem;
                    background-color: $textLight;
                }
            }
        }
        
    }
  }
//   .modal.transition {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//   }
