// Color definitions
$primaryColor: #c025a1;
$primaryContrastColor: rgba(217, 217, 255, 0.801);
$secondaryContrastColor: rgba(201, 95, 95, 0.507);

//Text Definitions
$textColor: #80226d;
$textDark: rgb(0, 0, 0);
$textLight: #e9c8e2;

//Modal
$glassPanelBackground: rgba(0, 0, 0, 0.452);
$modalBackgroundColor: #1a0606ef;
$modalBorderColor: rgb(58, 17, 136);

@font-face {
	font-family: "JotiOne-Regular";
	src: url('/../assets/JotiOne-Regular.eot?') format("eot"),
		url('/../assets/JotiOne-Regular.ttf') format("truetype"),
}

$scaryFont: JotiOne-Regular, Roboto,"Helvetica Neue", sans-serif;