@import './../../../assets/variables.scss';
.hangman-game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-right: 5rem;
    padding-left: 5rem;
    flex-basis: 100%;
    height: 100%;
    background-image: url('./../../../assets/background-forest.png');
    background-size: auto;
    background-repeat: no-repeat;
}