<div class="hangman-game" *ngIf="(hangman$ | async).loaded">
    <app-display
        [word]="displayedWord"
        [lettersChosen]="(hangman$ | async).lettersChosen"
        [loaded]="(hangman$ | async).loaded"
    >
    </app-display>
    <app-user-input [keyboard]="keyboard" (selectLetter)="selectedLetter($event)" ></app-user-input>
</div>
<app-hangman-graphic [chances]="(hangman$ | async).chances"></app-hangman-graphic>
<app-hangman-modal
    *ngIf="(hangman$ | async).gameWon || (hangman$ | async).chances < 1"
    class="hangman-modal"
    [isHighScore]="isHighScore"
    [score]="score"
    [gameWon]="(hangman$ | async).gameWon" 
    [chances]="(hangman$ | async).chances" 
    [word]="(hangman$ | async).word" 
    [highscores]="(hangman$ | async).highscores"
    (replay)="replay()"
    (submitHighscore)="submitHighscore($event)">
</app-hangman-modal>
