/* You can add global styles to this file, and also import other style files */
@import './assets/variables.scss';

html, body { height: 100vh; }
body {
    margin: 0;
    font-family: $scaryFont, Roboto,"Helvetica Neue", sans-serif;
    display: flex;
    justify-content: center;
    outline: none;
}
